.App {
  min-height: 100vh;
  background-color: #FFFFFF;
  background-image: linear-gradient(180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100%);

}
.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;

}

.search-button {
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: rgb(168, 118, 118);

}
.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.recipes-box {
  background: beige;
  column-rule-color: blanchedalmond;
}